<span class="side-heading">Create Project</span>
<ul class="nav nav-stacked">
    {% set pagePath = "/chapters/create-project" | path %}
    <li><a href="{{ pagePath }}#make_it_maven">Make it Maven</a></li>
    <li><a href="{{ pagePath }}#dependencies">Dependencies</a></li>
    <li><a href="{{ pagePath }}#not_so_dependencies">Not So Dependencies</a></li>
    <li><a href="{{ pagePath }}#ready_to_code">Ready To Code</a></li>
</ul>
