<span class="side-heading">Optional Steps</span>
<ul class="nav nav-stacked">
    <li><a href="{{ "/chapters/create-project/more-of-maven" | path }}">More of Maven</a></li>
    <li><a href="{{ "/chapters/create-project/version-control" | path }}">Version Controlled Code</a></li>
</ul>
